[Desktop Entry]
Version=1.0
Type=Application
Name=Keyboard Layout
Comment=Edit keyboard settings and application shortcuts
Exec=xfce4-keyboard-settings
Icon=org.xfce.settings.keyboard
Path=
Terminal=false
StartupNotify=true
