[Desktop Entry]
Version=1.0
Type=Application
Name=Okular
Comment=Universal document viewer
Exec=okular %U
Icon=okular
Path=
Terminal=false
StartupNotify=false
