[Unit]
Description=Use growfs to expand the writable root partition to full size at boot.
Before=multi-user.target getty@tty1.service reflector.service NetworkManager.service

[Service]
# oneshot services:
# https://trstringer.com/simple-vs-oneshot-systemd-service/
# https://gist.github.com/drmalex07/d006f12914b21198ee43
Type=oneshot
ExecStart=/etc/systemd/system/boot-growfs

[Install]
RequiredBy=multi-user.target
