[Desktop Entry]
Version=1.0
Type=Application
Name=GParted
Comment=Create, reorganize, and delete partitions
Exec=sudo /usr/bin/gparted %f
Icon=gparted
Path=
Terminal=false
StartupNotify=true
