/*
 * https://slackalaxy.com/2021/01/07/gtk3-scrollbar-arrows/
 * https://wiki.archlinux.org/title/GTK#Remove_overlay_scroll_indicators
 *
 * could not find a system-wide location for gtk.css. therefore, placing it in /etc/skel so that
 * it gets copied for each new user account.
 */

/* Scrollbar width fixes */
scrollbar.vertical slider,
scrollbar.slider.vertical
{
    min-width: .9em;
}
scrollbar.horizontal slider,
scrollbar.slider.horizontal
{
    min-height: .9em;
}

/* Steppers */
* {
    -GtkScrollbar-has-backward-stepper: 1;
    -GtkScrollbar-has-forward-stepper: 1;
}

scrollbar button {
    min-width: 1.2em;
    min-height: 1.2em;
}

scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}

scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}

/* Remove dotted lines from GTK 3 applications. */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { background-image: none; }
