[Desktop Entry]
Version=1.0
Type=Application
Name=NetSurf Web Browser
Comment=Browse the World Wide Web
Exec=netsurf %u
Icon=netsurf
Path=
Terminal=false
StartupNotify=true
