[Unit]
Description=Run script at boot for the efly live system.

[Service]
ExecStart=/usr/local/share/efly/autorun

[Install]
WantedBy=multi-user.target
